*{
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(255, 255, 255);
}

header{
    background-color: rgb(255, 123, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 30px;
}

img{
    width: 350px;
    height: 350px;
    border: rgb(255, 123, 0), solid, 15px;
    border-radius: 5px;
    margin-left: 485px;
    margin-top: 50px;
}

.description{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    margin-top: 30px;
}

footer{
    background-color:rgb(255, 123, 0);
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    margin-top: 30px;
}